# Конфігурація бота

# Telegram
BOT_TOKEN=8891884892:AAGhfErbFqhUxkP5-ITf6mOTSZ9aY6Yops4
OWNER_ID=8080673594

# Компанія
COMPANY_NAME=UkraineAI
BOT_NAME=Ukrainian Helper

# Вартість підписок
GENERATOR_COST=18000
PLUS_COST=500000
PLUS_DURATION=5

# Коефіцієнт обміну
STARS_TO_HELPCOINS=1
